

  .header-top-page {
    background: url(../css/first-page.png);
    min-height: 890px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.courseConfirmMessage {
    text-align: center;
    color: #fff;
    padding-top: 150px;
    font-size: 40px;
    margin-left: 5%;
    margin-right: 5%;
  }